﻿
@model IEnumerable<SistemaAlunos.Models.Domain.Aluno>
@using SistemaAlunos.Models.Domain;

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center" >
    <div>
        <div>
            <h1 class="display-8">Tabela De Alunos</h1>
        </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Data de nascimento</th>
                        <th scope="col">Opções</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {

                        foreach (Aluno aluno in Model)
                        {
                            <tr>
                                <th scope="row">@aluno.Matricula</th>
                                    <td>@aluno.Nome</td>
                                    <td>@aluno.CPF</td>
                                    <td>@aluno.Sexo</td>
                                    <td>@aluno.Nascimento</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                        <a type="button" class="btn btn-info opacity-75" role="button" asp-route-id="@aluno.Matricula" asp-controller="AlunoController" asp-action="Editar">Editar</a>
                                        <a type="button" class="btn btn-danger opacity-20" asp-route-id="@aluno.Matricula" asp-controller="AlunoController" asp-action="ApagarConfirmacao">Apagar</a>
                                        </div>
                                    </td>
                            </tr>
                        }

                   }
                </tbody>
            </table>
    </div>
    
    
</div>
